

.control__bg
{
  position: fixed;
  right: 12px;
  bottom: 16px;
  width: 48px;
}

.control-view
{
  margin-top: 8px;
  width: 48px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.5);
}